flows.json
[
    {
        "id": "b502b6a9c1b222b8",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bab09f4f72bd66be",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": [
            {
                "x": 160,
                "y": 30,
                "wires": []
            },
            {
                "x": 215,
                "y": 30,
                "wires": []
            },
            {
                "x": 270,
                "y": 30,
                "wires": []
            }
        ]
    },
    {
        "id": "61fb5c93d19bdef4",
        "type": "telegram bot",
        "botname": "Produtos",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "3c6eb76bf4aa7590",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Arial Black,Arial Black,Gadget,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 60,
                "sy": 40,
                "gx": 10,
                "gy": 0,
                "cx": 0,
                "cy": 15,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4be84b28c8e920a3",
        "type": "ui_group",
        "name": "Controle dos LEDS",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "455116b4346bf4aa",
        "type": "ui_tab",
        "name": "PRÁTICA DE INTEGRAÇÃO - COMANDOS ELÉTRICOS + SISTEMAS EMBARCADOS + NODE-RED",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c3f0d3412006914e",
        "type": "ui_group",
        "name": " COMANDOS",
        "tab": "455116b4346bf4aa",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "42acd22219642fa0",
        "type": "ui_group",
        "name": "ANÁLISE DOS PRODUTOS",
        "tab": "455116b4346bf4aa",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "53a4cafe4f8946bb",
        "type": "mongodb3",
        "uri": "mongodb+srv://matheusleitecordeiro:123456789Mm@@mycluster.jxcxr87.mongodb.net/?retryWrites=true&w=majority&appName=MyCluster",
        "name": "",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "f123659eac5cdecf",
        "type": "mongodb3",
        "uri": "mongodb+srv://matheusleitecordeiro:123456789Mm@@mycluster.jxcxr87.mongodb.net/?retryWrites=true&w=majority&appName=MyCluster",
        "name": "",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "4f523fc4123eecb4",
        "type": "ui_group",
        "name": "Análise",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8c25f12790351f6a",
        "type": "arduino-board",
        "device": "COM5"
    },
    {
        "id": "f958a8133091dcca",
        "type": "ui_group",
        "name": "ANÁLISE DOS TESTES",
        "tab": "455116b4346bf4aa",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b3902bd7db102dbe",
        "type": "ui_group",
        "name": "",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ec574c528c776f06",
        "type": "ui_group",
        "name": "",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ce06e7fe7e45abfc",
        "type": "ui_group",
        "name": "",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "01c187d6f4de73b4",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "44e28d128e884a8d",
        "type": "ui_group",
        "name": "Default",
        "tab": "01c187d6f4de73b4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8a9088812b78bfaa",
        "type": "inject",
        "z": "b502b6a9c1b222b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "9a4d592993ab4eb0"
            ]
        ]
    },
    {
        "id": "9a4d592993ab4eb0",
        "type": "debug",
        "z": "b502b6a9c1b222b8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 200,
        "wires": []
    }
]