flows.json
[
    {
        "id": "6d8562441c1228a9",
        "type": "tab",
        "label": "PRÁTICA DE INTEGRAÇÃO - COMANDOS ELÉTRICOS + SISTEMAS EMBARCADOS + NODE-RED",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bab09f4f72bd66be",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": [
            {
                "x": 160,
                "y": 30,
                "wires": []
            },
            {
                "x": 215,
                "y": 30,
                "wires": []
            },
            {
                "x": 270,
                "y": 30,
                "wires": []
            }
        ]
    },
    {
        "id": "f83b67f2dab732df",
        "type": "group",
        "z": "6d8562441c1228a9",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "ea941ead9a3efc88",
            "90abd9de351cd284",
            "9bc8e410000d5d41",
            "f8516f40d29c3186",
            "2df3e88abb3a6bba",
            "cac25b3f96a9f4b9",
            "10e4ff81658c756b",
            "9bf9d6ad3ac9f50e",
            "d003d821617c96d2",
            "246ccae0a54c7747",
            "a87393564a7b46af",
            "41070be827097629",
            "8aed738e80be5dfe",
            "f01f17695a89de8a",
            "b5a2f01029091ec6"
        ],
        "x": 3154,
        "y": 1919,
        "w": 512,
        "h": 462
    },
    {
        "id": "a76b6cd29f1cfb7e",
        "type": "group",
        "z": "6d8562441c1228a9",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "eedfa3ffad794b3f",
            "a9add0e16b6b39c8",
            "2e053bded8e96ef6",
            "48abe78d02b3b88c",
            "fb52ac478de48c21",
            "1eac097545d0714a",
            "b094892797ec1f89",
            "3e26aa1583ce4f70",
            "64189cb57b1b6bc4",
            "9a6860c7a4e36258",
            "e586f62b2dade782",
            "48a4095c6ead5d62",
            "0a830c65a37a9f07",
            "6eb01ffd24504207",
            "dded09a905aa5f7a",
            "5cb6ac8a352218f1",
            "116cacb971ba971d",
            "0a251604b4e03283",
            "65c98b6da8a90ae9",
            "d572e9f4fea0c8b9",
            "1b6c92a0530d0ba2",
            "a3e5b18a059438b7",
            "4e5075f0864e47a9",
            "11ec9a002a6e3507",
            "02bdcc20de504ca2",
            "4aab2aff9f5bdccd"
        ],
        "x": 3234,
        "y": 1319,
        "w": 852,
        "h": 502
    },
    {
        "id": "5ee53118251ba1de",
        "type": "group",
        "z": "6d8562441c1228a9",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "41f1f2236af58eb5",
            "0d361d37ee3f005c",
            "ae3870b362876d04",
            "c8d5357ea71fc589",
            "931c32d7dfbfda95",
            "c7c5f7d211491544"
        ],
        "x": 3374,
        "y": 939,
        "w": 552,
        "h": 262
    },
    {
        "id": "2d5371a2d65997b1",
        "type": "group",
        "z": "6d8562441c1228a9",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "7195c43f46bcf3ff",
            "961e0163fab224d8",
            "941d5dfaf97b0641",
            "95863bb96210648f",
            "49c1afdc4e19d069",
            "1221ce579007af6c",
            "cc9131c1cedf5e40",
            "8a0cbd7969e7cd59",
            "d4c198f549bfb7bb",
            "f64bb29c2ee49059",
            "40ffc3fed96b69ee"
        ],
        "x": 3334,
        "y": 419,
        "w": 572,
        "h": 422
    },
    {
        "id": "c64e65ada4579c0a",
        "type": "group",
        "z": "6d8562441c1228a9",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "aceb439f995552f5",
            "ac499031dd24a31f",
            "84ff4151aeac4820",
            "b5eacee1d28d3a2b",
            "01a950a1b7440cc1",
            "317b9246725e76f3",
            "c2578e6211ffa34d",
            "ed5b14daa4b1a3fe",
            "190998ebaf7d5ad4",
            "ee8cfa2614f72363",
            "2d884a77a962ee94",
            "ea10937d8169e345",
            "bc85ca2a8e74e848",
            "43b62a7e244565d9",
            "f7e44d6287b9c3d9",
            "394321b44f7d44c6",
            "37b9915c97607152",
            "05987768aba89163",
            "6599e98dc9a6c4b9",
            "1718251c78c634e1",
            "be07d7fc78404646",
            "083d7025e5808fce",
            "aaa43e52fa753749"
        ],
        "x": 2234,
        "y": 859,
        "w": 832,
        "h": 622
    },
    {
        "id": "ee290d532c40af91",
        "type": "group",
        "z": "6d8562441c1228a9",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "0f26981eea1494b9",
            "a9d265832ff1d47b",
            "a34d4dac7db424d5",
            "87c1d8fab112786c",
            "4420b59616124a3a",
            "da1fe37820751fa8",
            "1c3fa09fb70332cf",
            "88de354806153181",
            "4b4c521254394c3e",
            "eb426a5c76b59794",
            "3f57b3bd3de52b4d",
            "dff9fd9ffd880b62"
        ],
        "x": 1514,
        "y": 999,
        "w": 572,
        "h": 402
    },
    {
        "id": "0725baf6a723fd80",
        "type": "group",
        "z": "6d8562441c1228a9",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "cb1bdcb96fec2873",
            "4e5fcf1fb1f8e752",
            "0a07ee5d11ede36e",
            "8c62dce898115882",
            "b687560fe519c79a",
            "46a43fd83a80b21c",
            "1a9392ae3a8a373c",
            "3ac70a55e59eef75",
            "6ab25c4b299204b4",
            "55476ad796f399d6"
        ],
        "x": 1854,
        "y": 419,
        "w": 572,
        "h": 322
    },
    {
        "id": "4dd8e6e1ce7855a8",
        "type": "group",
        "z": "6d8562441c1228a9",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1b49166d3125b46e",
            "571c8e5713b36f7f",
            "26c7cc19b4aca1f4",
            "a5ef17563275f224",
            "3dd6147baf326088",
            "1137503b59e03428",
            "d7376bbba998b143",
            "9975fb83c302c1b2",
            "0b8da970e360f9e0",
            "10c7595c6217c287"
        ],
        "x": 2554,
        "y": 419,
        "w": 632,
        "h": 322
    },
    {
        "id": "0378cbfdd55b55f0",
        "type": "group",
        "z": "6d8562441c1228a9",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "5d8e451c73e3e9ba",
            "c69cc96d7df7520b",
            "8af264188b49c911",
            "2080257bf1c95e48",
            "d670a1279abd732b",
            "cfbad2e371f8f106",
            "08785d7d1f26c1f1",
            "d5d46e9249ad590b"
        ],
        "x": 2234,
        "y": 1679,
        "w": 752,
        "h": 342
    },
    {
        "id": "1a454d2bdfbff83d",
        "type": "group",
        "z": "6d8562441c1228a9",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d8be1971c926c8be",
            "8ad7aea84bee2a59",
            "2cfc2a38f127f49f",
            "98e3a2e9e9e64aed",
            "633a73dab83b569d",
            "43c6ba469334d007"
        ],
        "x": 1054,
        "y": 1659,
        "w": 772,
        "h": 422
    },
    {
        "id": "61fb5c93d19bdef4",
        "type": "telegram bot",
        "botname": "Produtos",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "3c6eb76bf4aa7590",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Arial Black,Arial Black,Gadget,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 60,
                "sy": 40,
                "gx": 10,
                "gy": 0,
                "cx": 0,
                "cy": 15,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4be84b28c8e920a3",
        "type": "ui_group",
        "name": "Controle dos LEDS",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "455116b4346bf4aa",
        "type": "ui_tab",
        "name": "PRÁTICA DE INTEGRAÇÃO - COMANDOS ELÉTRICOS + SISTEMAS EMBARCADOS + NODE-RED",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c3f0d3412006914e",
        "type": "ui_group",
        "name": " COMANDOS",
        "tab": "455116b4346bf4aa",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "42acd22219642fa0",
        "type": "ui_group",
        "name": "ANÁLISE DOS PRODUTOS",
        "tab": "455116b4346bf4aa",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "53a4cafe4f8946bb",
        "type": "mongodb3",
        "uri": "mongodb+srv://matheusleitecordeiro:123456789Mm@@mycluster.jxcxr87.mongodb.net/?retryWrites=true&w=majority&appName=MyCluster",
        "name": "",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "f123659eac5cdecf",
        "type": "mongodb3",
        "uri": "mongodb+srv://matheusleitecordeiro:123456789Mm@@mycluster.jxcxr87.mongodb.net/?retryWrites=true&w=majority&appName=MyCluster",
        "name": "",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "4f523fc4123eecb4",
        "type": "ui_group",
        "name": "Análise",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8c25f12790351f6a",
        "type": "arduino-board",
        "device": "COM5"
    },
    {
        "id": "f958a8133091dcca",
        "type": "ui_group",
        "name": "ANÁLISE DOS TESTES",
        "tab": "455116b4346bf4aa",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b3902bd7db102dbe",
        "type": "ui_group",
        "name": "",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ec574c528c776f06",
        "type": "ui_group",
        "name": "",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ce06e7fe7e45abfc",
        "type": "ui_group",
        "name": "",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 9,
        "collapse": false,
        "className": ""
    },
    {
        "id": "01c187d6f4de73b4",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "44e28d128e884a8d",
        "type": "ui_group",
        "name": "Default",
        "tab": "01c187d6f4de73b4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cb1bdcb96fec2873",
        "type": "rpi-gpio out",
        "z": "6d8562441c1228a9",
        "g": "0725baf6a723fd80",
        "name": "LED VERDE 1",
        "pin": "11",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 2320,
        "y": 540,
        "wires": []
    },
    {
        "id": "4e5fcf1fb1f8e752",
        "type": "rpi-gpio out",
        "z": "6d8562441c1228a9",
        "g": "0725baf6a723fd80",
        "name": "LED VERDE 2",
        "pin": "9",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 2320,
        "y": 620,
        "wires": []
    },
    {
        "id": "0a07ee5d11ede36e",
        "type": "rpi-gpio out",
        "z": "6d8562441c1228a9",
        "g": "0725baf6a723fd80",
        "name": "LED VERDE 3",
        "pin": "10",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 2320,
        "y": 700,
        "wires": []
    },
    {
        "id": "1b49166d3125b46e",
        "type": "rpi-gpio out",
        "z": "6d8562441c1228a9",
        "g": "4dd8e6e1ce7855a8",
        "name": "LED BRANCO 1",
        "pin": "5",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 3080,
        "y": 540,
        "wires": []
    },
    {
        "id": "571c8e5713b36f7f",
        "type": "rpi-gpio out",
        "z": "6d8562441c1228a9",
        "g": "4dd8e6e1ce7855a8",
        "name": "LED BRANCO 2",
        "pin": "6",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 3080,
        "y": 620,
        "wires": []
    },
    {
        "id": "26c7cc19b4aca1f4",
        "type": "rpi-gpio out",
        "z": "6d8562441c1228a9",
        "g": "4dd8e6e1ce7855a8",
        "name": "LED BRANCO 3",
        "pin": "13",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 3080,
        "y": 700,
        "wires": []
    },
    {
        "id": "0f26981eea1494b9",
        "type": "rpi-gpio out",
        "z": "6d8562441c1228a9",
        "g": "ee290d532c40af91",
        "name": "LED VERMELHO 1",
        "pin": "4",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1970,
        "y": 1160,
        "wires": []
    },
    {
        "id": "a9d265832ff1d47b",
        "type": "rpi-gpio out",
        "z": "6d8562441c1228a9",
        "g": "ee290d532c40af91",
        "name": "LED VERMELHO 2",
        "pin": "8",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1970,
        "y": 1220,
        "wires": []
    },
    {
        "id": "a34d4dac7db424d5",
        "type": "rpi-gpio out",
        "z": "6d8562441c1228a9",
        "g": "ee290d532c40af91",
        "name": "LED VERMELHO 3",
        "pin": "7",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 1950,
        "y": 1280,
        "wires": []
    },
    {
        "id": "8c62dce898115882",
        "type": "comment",
        "z": "6d8562441c1228a9",
        "g": "0725baf6a723fd80",
        "name": "ESTEIRA 1 - TRANSPORTE E TESTE",
        "info": "",
        "x": 2130,
        "y": 460,
        "wires": []
    },
    {
        "id": "a5ef17563275f224",
        "type": "comment",
        "z": "6d8562441c1228a9",
        "g": "4dd8e6e1ce7855a8",
        "name": "ESTEIRA 2 - TRANSPORTE E TESTE",
        "info": "\n",
        "x": 2870,
        "y": 460,
        "wires": []
    },
    {
        "id": "87c1d8fab112786c",
        "type": "comment",
        "z": "6d8562441c1228a9",
        "g": "ee290d532c40af91",
        "name": "ESTEIRA 3 - DESCARTE",
        "info": "",
        "x": 1790,
        "y": 1040,
        "wires": []
    },
    {
        "id": "7195c43f46bcf3ff",
        "type": "comment",
        "z": "6d8562441c1228a9",
        "g": "2d5371a2d65997b1",
        "name": "ESTEIRA 4 - DISTRIBUIÇÃO",
        "info": "",
        "x": 3620,
        "y": 460,
        "wires": []
    },
    {
        "id": "961e0163fab224d8",
        "type": "rpi-gpio out",
        "z": "6d8562441c1228a9",
        "g": "2d5371a2d65997b1",
        "name": "LED AMARELO 1",
        "pin": "16",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 3790,
        "y": 540,
        "wires": []
    },
    {
        "id": "941d5dfaf97b0641",
        "type": "rpi-gpio out",
        "z": "6d8562441c1228a9",
        "g": "2d5371a2d65997b1",
        "name": "LED AMARELO 2",
        "pin": "20",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 3790,
        "y": 620,
        "wires": []
    },
    {
        "id": "95863bb96210648f",
        "type": "rpi-gpio out",
        "z": "6d8562441c1228a9",
        "g": "2d5371a2d65997b1",
        "name": "LED AMARELO 3",
        "pin": "21",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 3790,
        "y": 700,
        "wires": []
    },
    {
        "id": "aceb439f995552f5",
        "type": "comment",
        "z": "6d8562441c1228a9",
        "g": "c64e65ada4579c0a",
        "name": "TESTE 1",
        "info": "",
        "x": 2420,
        "y": 980,
        "wires": []
    },
    {
        "id": "eedfa3ffad794b3f",
        "type": "rpi-gpio out",
        "z": "6d8562441c1228a9",
        "g": "a76b6cd29f1cfb7e",
        "name": "A",
        "pin": "15",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 3570,
        "y": 1660,
        "wires": []
    },
    {
        "id": "a9add0e16b6b39c8",
        "type": "rpi-gpio out",
        "z": "6d8562441c1228a9",
        "g": "a76b6cd29f1cfb7e",
        "name": "B",
        "pin": "18",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 3570,
        "y": 1700,
        "wires": []
    },
    {
        "id": "2e053bded8e96ef6",
        "type": "rpi-gpio out",
        "z": "6d8562441c1228a9",
        "g": "a76b6cd29f1cfb7e",
        "name": "C",
        "pin": "23",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 3570,
        "y": 1740,
        "wires": []
    },
    {
        "id": "48abe78d02b3b88c",
        "type": "rpi-gpio out",
        "z": "6d8562441c1228a9",
        "g": "a76b6cd29f1cfb7e",
        "name": "D",
        "pin": "25",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 3570,
        "y": 1780,
        "wires": []
    },
    {
        "id": "fb52ac478de48c21",
        "type": "comment",
        "z": "6d8562441c1228a9",
        "g": "a76b6cd29f1cfb7e",
        "name": "CONTAGEM DESCATES",
        "info": "",
        "x": 3450,
        "y": 1360,
        "wires": []
    },
    {
        "id": "ea941ead9a3efc88",
        "type": "play audio",
        "z": "6d8562441c1228a9",
        "g": "f83b67f2dab732df",
        "name": "TESTE 1 OBTEVE SUCESSO",
        "voice": "0",
        "x": 3470,
        "y": 2020,
        "wires": []
    },
    {
        "id": "90abd9de351cd284",
        "type": "play audio",
        "z": "6d8562441c1228a9",
        "g": "f83b67f2dab732df",
        "name": "TESTE 2 OBTEVE FALHA",
        "voice": "0",
        "x": 3460,
        "y": 2160,
        "wires": []
    },
    {
        "id": "9bc8e410000d5d41",
        "type": "play audio",
        "z": "6d8562441c1228a9",
        "g": "f83b67f2dab732df",
        "name": "TESTE 2 OBTEVE SUCESSO",
        "voice": "0",
        "x": 3470,
        "y": 2120,
        "wires": []
    },
    {
        "id": "f8516f40d29c3186",
        "type": "play audio",
        "z": "6d8562441c1228a9",
        "g": "f83b67f2dab732df",
        "name": "TESTE 1 OBTEVE FALHA",
        "voice": "0",
        "x": 3460,
        "y": 2060,
        "wires": []
    },
    {
        "id": "2df3e88abb3a6bba",
        "type": "comment",
        "z": "6d8562441c1228a9",
        "g": "f83b67f2dab732df",
        "name": "MENSAGENS DE VOZ",
        "info": "",
        "x": 3400,
        "y": 1960,
        "wires": []
    },
    {
        "id": "5d8e451c73e3e9ba",
        "type": "ui_gauge",
        "z": "6d8562441c1228a9",
        "g": "0378cbfdd55b55f0",
        "name": "PRODUTOS DESCARTADOS",
        "group": "42acd22219642fa0",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "QUANTIDADE DE DESCARTADOS",
        "label": "produtos",
        "format": "{{value}}",
        "min": 0,
        "max": "9",
        "colors": [
            "#ff0000",
            "#ff0000",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2810,
        "y": 1800,
        "wires": []
    },
    {
        "id": "c69cc96d7df7520b",
        "type": "ui_chart",
        "z": "6d8562441c1228a9",
        "g": "0378cbfdd55b55f0",
        "name": "ANÁLISE DE TESTES (1) (S X F)",
        "group": "f958a8133091dcca",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "TESTE 1 (SUCESSOS X FALHAS)",
        "chartType": "bar",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "9",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2400,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "8af264188b49c911",
        "type": "comment",
        "z": "6d8562441c1228a9",
        "g": "0378cbfdd55b55f0",
        "name": "-----------ANÁLISE COM DASHBOARDS-----------",
        "info": "",
        "x": 2620,
        "y": 1720,
        "wires": []
    },
    {
        "id": "8ad7aea84bee2a59",
        "type": "ui_button",
        "z": "6d8562441c1228a9",
        "g": "1a454d2bdfbff83d",
        "name": "CONSULTAR PRODUTOS DESCARTADOS",
        "group": "c3f0d3412006914e",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "CONSULTAR PRODUTOS DESCARTADOS",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1250,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "2cfc2a38f127f49f",
        "type": "telegram sender",
        "z": "6d8562441c1228a9",
        "g": "1a454d2bdfbff83d",
        "name": "",
        "bot": "61fb5c93d19bdef4",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1390,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "d8be1971c926c8be",
        "type": "comment",
        "z": "6d8562441c1228a9",
        "g": "1a454d2bdfbff83d",
        "name": "REGISTRO DE PRODUTOS ",
        "info": "",
        "x": 1460,
        "y": 1700,
        "wires": []
    },
    {
        "id": "98e3a2e9e9e64aed",
        "type": "ui_button",
        "z": "6d8562441c1228a9",
        "g": "1a454d2bdfbff83d",
        "name": "CONSULTAR PRODUTOS DISTRIBUÍDOS",
        "group": "c3f0d3412006914e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "CONSULTAR PRODUTOS DISTRIBUÍDOS",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1630,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "2080257bf1c95e48",
        "type": "ui_gauge",
        "z": "6d8562441c1228a9",
        "g": "0378cbfdd55b55f0",
        "name": "PRODUTOS DISTRIBUÍDOS",
        "group": "42acd22219642fa0",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "QUANTIDADE DE DISTRIBUÍDOS",
        "label": "produtos",
        "format": "{{value}}",
        "min": 0,
        "max": "9",
        "colors": [
            "#fefe34",
            "#fefe34",
            "#fefe34"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2820,
        "y": 1840,
        "wires": []
    },
    {
        "id": "b687560fe519c79a",
        "type": "delay",
        "z": "6d8562441c1228a9",
        "g": "0725baf6a723fd80",
        "name": "delay ",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1930,
        "y": 560,
        "wires": [
            [
                "4e5fcf1fb1f8e752",
                "46a43fd83a80b21c",
                "1a9392ae3a8a373c"
            ]
        ]
    },
    {
        "id": "46a43fd83a80b21c",
        "type": "delay",
        "z": "6d8562441c1228a9",
        "g": "0725baf6a723fd80",
        "name": "delay ",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1930,
        "y": 620,
        "wires": [
            [
                "3ac70a55e59eef75",
                "0a07ee5d11ede36e",
                "55476ad796f399d6"
            ]
        ]
    },
    {
        "id": "1a9392ae3a8a373c",
        "type": "change",
        "z": "6d8562441c1228a9",
        "g": "0725baf6a723fd80",
        "name": "desliga led 1",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2110,
        "y": 540,
        "wires": [
            [
                "cb1bdcb96fec2873"
            ]
        ]
    },
    {
        "id": "3ac70a55e59eef75",
        "type": "change",
        "z": "6d8562441c1228a9",
        "g": "0725baf6a723fd80",
        "name": "desliga led 2",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2110,
        "y": 620,
        "wires": [
            [
                "4e5fcf1fb1f8e752"
            ]
        ]
    },
    {
        "id": "ac499031dd24a31f",
        "type": "random",
        "z": "6d8562441c1228a9",
        "g": "c64e65ada4579c0a",
        "name": "TESTE 1",
        "low": "0",
        "high": "1",
        "inte": "true",
        "property": "payload",
        "x": 2320,
        "y": 1040,
        "wires": [
            [
                "84ff4151aeac4820",
                "0d361d37ee3f005c",
                "931c32d7dfbfda95"
            ]
        ]
    },
    {
        "id": "84ff4151aeac4820",
        "type": "switch",
        "z": "6d8562441c1228a9",
        "g": "c64e65ada4579c0a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2530,
        "y": 1040,
        "wires": [
            [
                "3dd6147baf326088",
                "6ab25c4b299204b4",
                "1b49166d3125b46e",
                "ed5b14daa4b1a3fe",
                "cac25b3f96a9f4b9"
            ],
            [
                "6ab25c4b299204b4",
                "3f57b3bd3de52b4d",
                "e586f62b2dade782",
                "10e4ff81658c756b",
                "190998ebaf7d5ad4"
            ]
        ]
    },
    {
        "id": "b5eacee1d28d3a2b",
        "type": "comment",
        "z": "6d8562441c1228a9",
        "g": "c64e65ada4579c0a",
        "name": "TESTE 2",
        "info": "",
        "x": 2880,
        "y": 980,
        "wires": []
    },
    {
        "id": "3dd6147baf326088",
        "type": "delay",
        "z": "6d8562441c1228a9",
        "g": "4dd8e6e1ce7855a8",
        "name": "delay ",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2630,
        "y": 540,
        "wires": [
            [
                "571c8e5713b36f7f",
                "1137503b59e03428",
                "d7376bbba998b143"
            ]
        ]
    },
    {
        "id": "1137503b59e03428",
        "type": "change",
        "z": "6d8562441c1228a9",
        "g": "4dd8e6e1ce7855a8",
        "name": "desliga led 1",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2850,
        "y": 540,
        "wires": [
            [
                "1b49166d3125b46e"
            ]
        ]
    },
    {
        "id": "6ab25c4b299204b4",
        "type": "change",
        "z": "6d8562441c1228a9",
        "g": "0725baf6a723fd80",
        "name": "desliga led 3",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2110,
        "y": 700,
        "wires": [
            [
                "0a07ee5d11ede36e"
            ]
        ]
    },
    {
        "id": "d7376bbba998b143",
        "type": "delay",
        "z": "6d8562441c1228a9",
        "g": "4dd8e6e1ce7855a8",
        "name": "delay ",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2630,
        "y": 620,
        "wires": [
            [
                "26c7cc19b4aca1f4",
                "9975fb83c302c1b2",
                "10c7595c6217c287"
            ]
        ]
    },
    {
        "id": "9975fb83c302c1b2",
        "type": "change",
        "z": "6d8562441c1228a9",
        "g": "4dd8e6e1ce7855a8",
        "name": "desliga led 2",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2850,
        "y": 620,
        "wires": [
            [
                "571c8e5713b36f7f"
            ]
        ]
    },
    {
        "id": "01a950a1b7440cc1",
        "type": "random",
        "z": "6d8562441c1228a9",
        "g": "c64e65ada4579c0a",
        "name": "TESTE 2",
        "low": "0",
        "high": "1",
        "inte": "true",
        "property": "payload",
        "x": 2780,
        "y": 1040,
        "wires": [
            [
                "317b9246725e76f3",
                "0d361d37ee3f005c",
                "c7c5f7d211491544"
            ]
        ]
    },
    {
        "id": "317b9246725e76f3",
        "type": "switch",
        "z": "6d8562441c1228a9",
        "g": "c64e65ada4579c0a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2970,
        "y": 1040,
        "wires": [
            [
                "49c1afdc4e19d069",
                "0b8da970e360f9e0",
                "961e0163fab224d8",
                "0a251604b4e03283",
                "9bf9d6ad3ac9f50e",
                "394321b44f7d44c6"
            ],
            [
                "3f57b3bd3de52b4d",
                "0b8da970e360f9e0",
                "e586f62b2dade782",
                "d003d821617c96d2",
                "37b9915c97607152"
            ]
        ]
    },
    {
        "id": "49c1afdc4e19d069",
        "type": "delay",
        "z": "6d8562441c1228a9",
        "g": "2d5371a2d65997b1",
        "name": "delay ",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3410,
        "y": 540,
        "wires": [
            [
                "941d5dfaf97b0641",
                "1221ce579007af6c",
                "cc9131c1cedf5e40"
            ]
        ]
    },
    {
        "id": "1221ce579007af6c",
        "type": "delay",
        "z": "6d8562441c1228a9",
        "g": "2d5371a2d65997b1",
        "name": "delay ",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3410,
        "y": 620,
        "wires": [
            [
                "95863bb96210648f",
                "8a0cbd7969e7cd59",
                "f64bb29c2ee49059",
                "f01f17695a89de8a"
            ]
        ]
    },
    {
        "id": "0b8da970e360f9e0",
        "type": "change",
        "z": "6d8562441c1228a9",
        "g": "4dd8e6e1ce7855a8",
        "name": "desliga led 3",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2850,
        "y": 700,
        "wires": [
            [
                "26c7cc19b4aca1f4"
            ]
        ]
    },
    {
        "id": "cc9131c1cedf5e40",
        "type": "change",
        "z": "6d8562441c1228a9",
        "g": "2d5371a2d65997b1",
        "name": "desliga led 1",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3590,
        "y": 540,
        "wires": [
            [
                "961e0163fab224d8"
            ]
        ]
    },
    {
        "id": "8a0cbd7969e7cd59",
        "type": "change",
        "z": "6d8562441c1228a9",
        "g": "2d5371a2d65997b1",
        "name": "desliga led 2",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3590,
        "y": 620,
        "wires": [
            [
                "941d5dfaf97b0641"
            ]
        ]
    },
    {
        "id": "d4c198f549bfb7bb",
        "type": "change",
        "z": "6d8562441c1228a9",
        "g": "2d5371a2d65997b1",
        "name": "desliga led 3",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3590,
        "y": 700,
        "wires": [
            [
                "95863bb96210648f"
            ]
        ]
    },
    {
        "id": "55476ad796f399d6",
        "type": "delay",
        "z": "6d8562441c1228a9",
        "g": "0725baf6a723fd80",
        "name": "delay ",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1930,
        "y": 700,
        "wires": [
            [
                "ac499031dd24a31f"
            ]
        ]
    },
    {
        "id": "10c7595c6217c287",
        "type": "delay",
        "z": "6d8562441c1228a9",
        "g": "4dd8e6e1ce7855a8",
        "name": "delay ",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2630,
        "y": 700,
        "wires": [
            [
                "01a950a1b7440cc1"
            ]
        ]
    },
    {
        "id": "f64bb29c2ee49059",
        "type": "delay",
        "z": "6d8562441c1228a9",
        "g": "2d5371a2d65997b1",
        "name": "delay ",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3410,
        "y": 700,
        "wires": [
            [
                "d4c198f549bfb7bb",
                "40ffc3fed96b69ee"
            ]
        ]
    },
    {
        "id": "4420b59616124a3a",
        "type": "delay",
        "z": "6d8562441c1228a9",
        "g": "ee290d532c40af91",
        "name": "delay ",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1590,
        "y": 1160,
        "wires": [
            [
                "a9d265832ff1d47b",
                "da1fe37820751fa8",
                "1c3fa09fb70332cf"
            ]
        ]
    },
    {
        "id": "da1fe37820751fa8",
        "type": "change",
        "z": "6d8562441c1228a9",
        "g": "ee290d532c40af91",
        "name": "desliga led 1",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1750,
        "y": 1160,
        "wires": [
            [
                "0f26981eea1494b9"
            ]
        ]
    },
    {
        "id": "1c3fa09fb70332cf",
        "type": "delay",
        "z": "6d8562441c1228a9",
        "g": "ee290d532c40af91",
        "name": "delay ",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1590,
        "y": 1220,
        "wires": [
            [
                "a34d4dac7db424d5",
                "88de354806153181",
                "4b4c521254394c3e",
                "41070be827097629"
            ]
        ]
    },
    {
        "id": "88de354806153181",
        "type": "change",
        "z": "6d8562441c1228a9",
        "g": "ee290d532c40af91",
        "name": "desliga led 2",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1750,
        "y": 1220,
        "wires": [
            [
                "a9d265832ff1d47b"
            ]
        ]
    },
    {
        "id": "4b4c521254394c3e",
        "type": "delay",
        "z": "6d8562441c1228a9",
        "g": "ee290d532c40af91",
        "name": "delay ",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1590,
        "y": 1280,
        "wires": [
            [
                "eb426a5c76b59794",
                "dff9fd9ffd880b62"
            ]
        ]
    },
    {
        "id": "eb426a5c76b59794",
        "type": "change",
        "z": "6d8562441c1228a9",
        "g": "ee290d532c40af91",
        "name": "desliga led 3",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1750,
        "y": 1280,
        "wires": [
            [
                "a34d4dac7db424d5"
            ]
        ]
    },
    {
        "id": "3f57b3bd3de52b4d",
        "type": "change",
        "z": "6d8562441c1228a9",
        "g": "ee290d532c40af91",
        "name": "CHANGE",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1680,
        "y": 1100,
        "wires": [
            [
                "0f26981eea1494b9",
                "4420b59616124a3a"
            ]
        ]
    },
    {
        "id": "dff9fd9ffd880b62",
        "type": "delay",
        "z": "6d8562441c1228a9",
        "g": "ee290d532c40af91",
        "name": "NOVO PRODUTO",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1770,
        "y": 1360,
        "wires": [
            [
                "b687560fe519c79a",
                "cb1bdcb96fec2873",
                "246ccae0a54c7747",
                "0d361d37ee3f005c",
                "08785d7d1f26c1f1",
                "ae3870b362876d04",
                "633a73dab83b569d"
            ]
        ]
    },
    {
        "id": "40ffc3fed96b69ee",
        "type": "delay",
        "z": "6d8562441c1228a9",
        "g": "2d5371a2d65997b1",
        "name": "NOVO PRODUTO",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3630,
        "y": 800,
        "wires": [
            [
                "cb1bdcb96fec2873",
                "b687560fe519c79a",
                "246ccae0a54c7747",
                "0d361d37ee3f005c",
                "ae3870b362876d04",
                "08785d7d1f26c1f1",
                "633a73dab83b569d"
            ]
        ]
    },
    {
        "id": "41f1f2236af58eb5",
        "type": "comment",
        "z": "6d8562441c1228a9",
        "g": "5ee53118251ba1de",
        "name": "SIRENE",
        "info": "",
        "x": 3600,
        "y": 980,
        "wires": []
    },
    {
        "id": "0d361d37ee3f005c",
        "type": "rpi-gpio out",
        "z": "6d8562441c1228a9",
        "g": "5ee53118251ba1de",
        "name": "BUZZER",
        "pin": "12",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 3840,
        "y": 980,
        "wires": []
    },
    {
        "id": "ae3870b362876d04",
        "type": "delay",
        "z": "6d8562441c1228a9",
        "g": "5ee53118251ba1de",
        "name": "delay ",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 3630,
        "y": 1080,
        "wires": [
            [
                "c8d5357ea71fc589"
            ]
        ]
    },
    {
        "id": "c8d5357ea71fc589",
        "type": "change",
        "z": "6d8562441c1228a9",
        "g": "5ee53118251ba1de",
        "name": "CHANGE",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3720,
        "y": 1160,
        "wires": [
            [
                "0d361d37ee3f005c"
            ]
        ]
    },
    {
        "id": "1eac097545d0714a",
        "type": "comment",
        "z": "6d8562441c1228a9",
        "g": "a76b6cd29f1cfb7e",
        "name": "CONTAGEM DISTRIBUÍDOS",
        "info": "",
        "x": 3840,
        "y": 1360,
        "wires": []
    },
    {
        "id": "b094892797ec1f89",
        "type": "rpi-gpio out",
        "z": "6d8562441c1228a9",
        "g": "a76b6cd29f1cfb7e",
        "name": "A",
        "pin": "26",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 3990,
        "y": 1660,
        "wires": []
    },
    {
        "id": "3e26aa1583ce4f70",
        "type": "rpi-gpio out",
        "z": "6d8562441c1228a9",
        "g": "a76b6cd29f1cfb7e",
        "name": "B",
        "pin": "19",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 3990,
        "y": 1700,
        "wires": []
    },
    {
        "id": "64189cb57b1b6bc4",
        "type": "rpi-gpio out",
        "z": "6d8562441c1228a9",
        "g": "a76b6cd29f1cfb7e",
        "name": "C",
        "pin": "22",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 3990,
        "y": 1740,
        "wires": []
    },
    {
        "id": "9a6860c7a4e36258",
        "type": "rpi-gpio out",
        "z": "6d8562441c1228a9",
        "g": "a76b6cd29f1cfb7e",
        "name": "D",
        "pin": "27",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 3990,
        "y": 1780,
        "wires": []
    },
    {
        "id": "e586f62b2dade782",
        "type": "function",
        "z": "6d8562441c1228a9",
        "g": "a76b6cd29f1cfb7e",
        "name": "realiza contagem de descartes",
        "func": "let temp = flow.get(\"contagem_descartes\") || 0;\n\ntemp += 1;\n\nif (temp > 9){\n    temp = 0;\n}\n\nflow.set(\"contagem_descartes\", temp)\nmsg.payload = temp\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3430,
        "y": 1420,
        "wires": [
            [
                "48a4095c6ead5d62",
                "5d8e451c73e3e9ba"
            ]
        ]
    },
    {
        "id": "931c32d7dfbfda95",
        "type": "change",
        "z": "6d8562441c1228a9",
        "g": "5ee53118251ba1de",
        "name": "CHANGE",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3460,
        "y": 1020,
        "wires": [
            [
                "0d361d37ee3f005c",
                "ae3870b362876d04"
            ]
        ]
    },
    {
        "id": "c7c5f7d211491544",
        "type": "change",
        "z": "6d8562441c1228a9",
        "g": "5ee53118251ba1de",
        "name": "CHANGE",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "num",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3500,
        "y": 1140,
        "wires": [
            [
                "0d361d37ee3f005c",
                "ae3870b362876d04"
            ]
        ]
    },
    {
        "id": "48a4095c6ead5d62",
        "type": "mongodb3 in",
        "z": "6d8562441c1228a9",
        "g": "a76b6cd29f1cfb7e",
        "service": "_ext_",
        "configNode": "f123659eac5cdecf",
        "name": "CONSULTA JSON",
        "collection": "MyCollectiom",
        "operation": "find.toArray",
        "x": 3410,
        "y": 1480,
        "wires": [
            [
                "116cacb971ba971d"
            ]
        ]
    },
    {
        "id": "0a830c65a37a9f07",
        "type": "function",
        "z": "6d8562441c1228a9",
        "g": "a76b6cd29f1cfb7e",
        "name": "seleciona bit",
        "func": "msg.payload = msg.payload.A;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3330,
        "y": 1620,
        "wires": [
            [
                "eedfa3ffad794b3f"
            ]
        ]
    },
    {
        "id": "6eb01ffd24504207",
        "type": "function",
        "z": "6d8562441c1228a9",
        "g": "a76b6cd29f1cfb7e",
        "name": "seleciona bit",
        "func": "msg.payload = msg.payload.B;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3330,
        "y": 1660,
        "wires": [
            [
                "a9add0e16b6b39c8"
            ]
        ]
    },
    {
        "id": "dded09a905aa5f7a",
        "type": "function",
        "z": "6d8562441c1228a9",
        "g": "a76b6cd29f1cfb7e",
        "name": "seleciona bit",
        "func": "msg.payload = msg.payload.C;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3330,
        "y": 1700,
        "wires": [
            [
                "2e053bded8e96ef6"
            ]
        ]
    },
    {
        "id": "5cb6ac8a352218f1",
        "type": "function",
        "z": "6d8562441c1228a9",
        "g": "a76b6cd29f1cfb7e",
        "name": "seleciona bit",
        "func": "msg.payload = msg.payload.D;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3330,
        "y": 1740,
        "wires": [
            [
                "48abe78d02b3b88c"
            ]
        ]
    },
    {
        "id": "116cacb971ba971d",
        "type": "function",
        "z": "6d8562441c1228a9",
        "g": "a76b6cd29f1cfb7e",
        "name": "consulta sequência de bits",
        "func": "msg.payload = msg.payload[3][flow.get(\"contagem_descartes\")];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3440,
        "y": 1540,
        "wires": [
            [
                "0a830c65a37a9f07",
                "6eb01ffd24504207",
                "dded09a905aa5f7a",
                "5cb6ac8a352218f1"
            ]
        ]
    },
    {
        "id": "0a251604b4e03283",
        "type": "function",
        "z": "6d8562441c1228a9",
        "g": "a76b6cd29f1cfb7e",
        "name": "realiza contagem de distribuídos",
        "func": "let temp = flow.get(\"contagem_distribuidos\") || 0;\n\ntemp += 1;\n\nif (temp > 9){\n    temp = 0;\n}\n\nflow.set(\"contagem_distribuidos\", temp)\nmsg.payload = temp\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3850,
        "y": 1420,
        "wires": [
            [
                "65c98b6da8a90ae9",
                "2080257bf1c95e48"
            ]
        ]
    },
    {
        "id": "65c98b6da8a90ae9",
        "type": "mongodb3 in",
        "z": "6d8562441c1228a9",
        "g": "a76b6cd29f1cfb7e",
        "service": "_ext_",
        "configNode": "f123659eac5cdecf",
        "name": "CONSULTA JSON",
        "collection": "MyCollectiom",
        "operation": "find.toArray",
        "x": 3830,
        "y": 1480,
        "wires": [
            [
                "11ec9a002a6e3507"
            ]
        ]
    },
    {
        "id": "d572e9f4fea0c8b9",
        "type": "function",
        "z": "6d8562441c1228a9",
        "g": "a76b6cd29f1cfb7e",
        "name": "seleciona bit",
        "func": "msg.payload = msg.payload.A;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3810,
        "y": 1620,
        "wires": [
            [
                "b094892797ec1f89"
            ]
        ]
    },
    {
        "id": "1b6c92a0530d0ba2",
        "type": "function",
        "z": "6d8562441c1228a9",
        "g": "a76b6cd29f1cfb7e",
        "name": "seleciona bit",
        "func": "msg.payload = msg.payload.B;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3810,
        "y": 1660,
        "wires": [
            [
                "3e26aa1583ce4f70"
            ]
        ]
    },
    {
        "id": "a3e5b18a059438b7",
        "type": "function",
        "z": "6d8562441c1228a9",
        "g": "a76b6cd29f1cfb7e",
        "name": "seleciona bit",
        "func": "msg.payload = msg.payload.C;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3810,
        "y": 1700,
        "wires": [
            [
                "64189cb57b1b6bc4"
            ]
        ]
    },
    {
        "id": "4e5075f0864e47a9",
        "type": "function",
        "z": "6d8562441c1228a9",
        "g": "a76b6cd29f1cfb7e",
        "name": "seleciona bit",
        "func": "msg.payload = msg.payload.D;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3810,
        "y": 1740,
        "wires": [
            [
                "9a6860c7a4e36258"
            ]
        ]
    },
    {
        "id": "11ec9a002a6e3507",
        "type": "function",
        "z": "6d8562441c1228a9",
        "g": "a76b6cd29f1cfb7e",
        "name": "consulta sequência de bits",
        "func": "msg.payload = msg.payload[3][flow.get(\"contagem_distribuidos\")];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3860,
        "y": 1540,
        "wires": [
            [
                "d572e9f4fea0c8b9",
                "1b6c92a0530d0ba2",
                "a3e5b18a059438b7",
                "4e5075f0864e47a9"
            ]
        ]
    },
    {
        "id": "02bdcc20de504ca2",
        "type": "comment",
        "z": "6d8562441c1228a9",
        "g": "a76b6cd29f1cfb7e",
        "name": "DISPLAY ",
        "info": "",
        "x": 3580,
        "y": 1620,
        "wires": []
    },
    {
        "id": "4aab2aff9f5bdccd",
        "type": "comment",
        "z": "6d8562441c1228a9",
        "g": "a76b6cd29f1cfb7e",
        "name": "DISPLAY ",
        "info": "",
        "x": 4000,
        "y": 1620,
        "wires": []
    },
    {
        "id": "cac25b3f96a9f4b9",
        "type": "ui_button",
        "z": "6d8562441c1228a9",
        "g": "f83b67f2dab732df",
        "name": "",
        "group": "44e28d128e884a8d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "teste 1, sucesso",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 3230,
        "y": 2020,
        "wires": [
            [
                "ea941ead9a3efc88"
            ]
        ]
    },
    {
        "id": "10e4ff81658c756b",
        "type": "ui_button",
        "z": "6d8562441c1228a9",
        "g": "f83b67f2dab732df",
        "name": "",
        "group": "44e28d128e884a8d",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "teste 1, falha",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 3230,
        "y": 2060,
        "wires": [
            [
                "f8516f40d29c3186"
            ]
        ]
    },
    {
        "id": "9bf9d6ad3ac9f50e",
        "type": "ui_button",
        "z": "6d8562441c1228a9",
        "g": "f83b67f2dab732df",
        "name": "",
        "group": "44e28d128e884a8d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "teste 2, sucesso",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 3230,
        "y": 2120,
        "wires": [
            [
                "9bc8e410000d5d41"
            ]
        ]
    },
    {
        "id": "d003d821617c96d2",
        "type": "ui_button",
        "z": "6d8562441c1228a9",
        "g": "f83b67f2dab732df",
        "name": "",
        "group": "44e28d128e884a8d",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "teste 2, falha",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 3230,
        "y": 2160,
        "wires": [
            [
                "90abd9de351cd284"
            ]
        ]
    },
    {
        "id": "246ccae0a54c7747",
        "type": "ui_button",
        "z": "6d8562441c1228a9",
        "g": "f83b67f2dab732df",
        "name": "",
        "group": "44e28d128e884a8d",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "novo produto adicionado para transporte",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 3230,
        "y": 2220,
        "wires": [
            [
                "a87393564a7b46af"
            ]
        ]
    },
    {
        "id": "a87393564a7b46af",
        "type": "play audio",
        "z": "6d8562441c1228a9",
        "g": "f83b67f2dab732df",
        "name": "NOVO PRODUTO ADICIONADO",
        "voice": "0",
        "x": 3480,
        "y": 2220,
        "wires": []
    },
    {
        "id": "644b1f1b5b74d623",
        "type": "function",
        "z": "6d8562441c1228a9",
        "name": "zera displays",
        "func": "let temp = flow.get(\"contagem_descartes\");\nlet temp2 = flow.get(\"contagem_distribuidos\");\n\ntemp = 0;\ntemp2 = 0;\n\nflow.set(\"contagem_descartes\", temp)\nflow.set(\"contagem_distribuidos\", temp2)\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "c2578e6211ffa34d",
        "type": "comment",
        "z": "6d8562441c1228a9",
        "g": "c64e65ada4579c0a",
        "name": "----------------------TESTES----------------------",
        "info": "",
        "x": 2640,
        "y": 900,
        "wires": []
    },
    {
        "id": "d670a1279abd732b",
        "type": "ui_gauge",
        "z": "6d8562441c1228a9",
        "g": "0378cbfdd55b55f0",
        "name": "PRODUTOS TRANSPORTADOS",
        "group": "42acd22219642fa0",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "QUANTIDADE DE TRANSPORTADOS",
        "label": "produtos",
        "format": "{{value}}",
        "min": 0,
        "max": "9",
        "colors": [
            "#1eff00",
            "#1eff00",
            "#1eff00"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 2800,
        "y": 1880,
        "wires": []
    },
    {
        "id": "cfbad2e371f8f106",
        "type": "function",
        "z": "6d8562441c1228a9",
        "g": "0378cbfdd55b55f0",
        "name": "zera dashboards",
        "func": "let temp = 0;\n\nflow.set(\"dashboards\", temp)\nmsg.payload = flow.get(\"dashboards\")\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2410,
        "y": 1820,
        "wires": [
            [
                "5d8e451c73e3e9ba",
                "2080257bf1c95e48"
            ]
        ]
    },
    {
        "id": "08785d7d1f26c1f1",
        "type": "function",
        "z": "6d8562441c1228a9",
        "g": "0378cbfdd55b55f0",
        "name": "realiza contagem de transportados",
        "func": "let temp = flow.get(\"contagem_transportados\") || 0;\n\ntemp += 1;\n\nif (temp > 9){\n    temp = 0;\n}\n\nflow.set(\"contagem_transportados\", temp)\nmsg.payload = temp\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2460,
        "y": 1880,
        "wires": [
            [
                "d670a1279abd732b"
            ]
        ]
    },
    {
        "id": "7c115bef8db192ca",
        "type": "function",
        "z": "6d8562441c1228a9",
        "name": "inicia contagem de transportados",
        "func": "let temp = 1;\n\nflow.set(\"contagem_transportados\", temp)\nmsg.payload = flow.get(\"contagem_transportados\")\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1560,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "ed5b14daa4b1a3fe",
        "type": "function",
        "z": "6d8562441c1228a9",
        "g": "c64e65ada4579c0a",
        "name": "realiza contagem de sucessos",
        "func": "let temp = flow.get(\"sucesso_teste_1\") || 0;\ntemp++;\n\nif (temp > 9) {\n    temp = 0;\n}\nflow.set(\"sucesso_teste_1\", temp);\n\nmsg.payload = flow.get(\"sucesso_teste_1\")\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2410,
        "y": 1140,
        "wires": [
            [
                "ee8cfa2614f72363"
            ]
        ]
    },
    {
        "id": "190998ebaf7d5ad4",
        "type": "function",
        "z": "6d8562441c1228a9",
        "g": "c64e65ada4579c0a",
        "name": "realiza contagem de falhas",
        "func": "let temp = flow.get(\"falha_teste_1\") || 0;\ntemp++;\n\nif (temp > 9) {\n    temp = 0;\n}\nflow.set(\"falha_teste_1\", temp);\n\nmsg.payload = flow.get(\"falha_teste_1\")\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2400,
        "y": 1180,
        "wires": [
            [
                "2d884a77a962ee94"
            ]
        ]
    },
    {
        "id": "ee8cfa2614f72363",
        "type": "change",
        "z": "6d8562441c1228a9",
        "g": "c64e65ada4579c0a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "sucessos",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2360,
        "y": 1220,
        "wires": [
            [
                "c69cc96d7df7520b"
            ]
        ]
    },
    {
        "id": "2d884a77a962ee94",
        "type": "change",
        "z": "6d8562441c1228a9",
        "g": "c64e65ada4579c0a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "falhas",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2360,
        "y": 1260,
        "wires": [
            [
                "c69cc96d7df7520b"
            ]
        ]
    },
    {
        "id": "ea10937d8169e345",
        "type": "function",
        "z": "6d8562441c1228a9",
        "g": "c64e65ada4579c0a",
        "name": "zera contagem de sucessos",
        "func": "let temp = 0;\n\nflow.set(\"sucesso_teste_1\", temp);\n\nmsg.payload = flow.get(\"sucesso_teste_1\")\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2400,
        "y": 1320,
        "wires": [
            [
                "43b62a7e244565d9"
            ]
        ]
    },
    {
        "id": "bc85ca2a8e74e848",
        "type": "function",
        "z": "6d8562441c1228a9",
        "g": "c64e65ada4579c0a",
        "name": "zera contagem de falhas",
        "func": "let temp = 0;\nflow.set(\"falha_teste_1\", temp);\n\nmsg.payload = flow.get(\"falha_teste_1\")\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2390,
        "y": 1360,
        "wires": [
            [
                "f7e44d6287b9c3d9"
            ]
        ]
    },
    {
        "id": "43b62a7e244565d9",
        "type": "change",
        "z": "6d8562441c1228a9",
        "g": "c64e65ada4579c0a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "sucessos",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2360,
        "y": 1400,
        "wires": [
            [
                "c69cc96d7df7520b"
            ]
        ]
    },
    {
        "id": "f7e44d6287b9c3d9",
        "type": "change",
        "z": "6d8562441c1228a9",
        "g": "c64e65ada4579c0a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "falhas",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2360,
        "y": 1440,
        "wires": [
            [
                "c69cc96d7df7520b"
            ]
        ]
    },
    {
        "id": "d5d46e9249ad590b",
        "type": "ui_chart",
        "z": "6d8562441c1228a9",
        "g": "0378cbfdd55b55f0",
        "name": "ANÁLISE DE TESTES (2) (S X F)",
        "group": "f958a8133091dcca",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "TESTE 2 (SUCESSOS X FALHAS)",
        "chartType": "bar",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "9",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2820,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "394321b44f7d44c6",
        "type": "function",
        "z": "6d8562441c1228a9",
        "g": "c64e65ada4579c0a",
        "name": "realiza contagem de sucessos",
        "func": "let temp = flow.get(\"sucesso_teste_2\") || 0;\ntemp++;\n\nif (temp > 9) {\n    temp = 0;\n}\nflow.set(\"sucesso_teste_2\", temp);\n\nmsg.payload = flow.get(\"sucesso_teste_2\")\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2890,
        "y": 1140,
        "wires": [
            [
                "05987768aba89163"
            ]
        ]
    },
    {
        "id": "37b9915c97607152",
        "type": "function",
        "z": "6d8562441c1228a9",
        "g": "c64e65ada4579c0a",
        "name": "realiza contagem de falhas",
        "func": "let temp = flow.get(\"falha_teste_2\") || 0;\ntemp++;\n\nif (temp > 9) {\n    temp = 0;\n}\nflow.set(\"falha_teste_2\", temp);\n\nmsg.payload = flow.get(\"falha_teste_2\")\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2880,
        "y": 1180,
        "wires": [
            [
                "6599e98dc9a6c4b9"
            ]
        ]
    },
    {
        "id": "05987768aba89163",
        "type": "change",
        "z": "6d8562441c1228a9",
        "g": "c64e65ada4579c0a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "sucessos",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2840,
        "y": 1220,
        "wires": [
            [
                "d5d46e9249ad590b"
            ]
        ]
    },
    {
        "id": "6599e98dc9a6c4b9",
        "type": "change",
        "z": "6d8562441c1228a9",
        "g": "c64e65ada4579c0a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "falhas",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2840,
        "y": 1260,
        "wires": [
            [
                "d5d46e9249ad590b"
            ]
        ]
    },
    {
        "id": "1718251c78c634e1",
        "type": "function",
        "z": "6d8562441c1228a9",
        "g": "c64e65ada4579c0a",
        "name": "zera contagem de sucessos",
        "func": "let temp = 0;\n\nflow.set(\"sucesso_teste_2\", temp);\n\nmsg.payload = flow.get(\"sucesso_teste_2\")\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2880,
        "y": 1320,
        "wires": [
            [
                "083d7025e5808fce"
            ]
        ]
    },
    {
        "id": "be07d7fc78404646",
        "type": "function",
        "z": "6d8562441c1228a9",
        "g": "c64e65ada4579c0a",
        "name": "zera contagem de falhas",
        "func": "let temp = 0;\nflow.set(\"falha_teste_2\", temp);\n\nmsg.payload = flow.get(\"falha_teste_2\")\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2870,
        "y": 1360,
        "wires": [
            [
                "aaa43e52fa753749"
            ]
        ]
    },
    {
        "id": "083d7025e5808fce",
        "type": "change",
        "z": "6d8562441c1228a9",
        "g": "c64e65ada4579c0a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "sucessos",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2840,
        "y": 1400,
        "wires": [
            [
                "d5d46e9249ad590b"
            ]
        ]
    },
    {
        "id": "aaa43e52fa753749",
        "type": "change",
        "z": "6d8562441c1228a9",
        "g": "c64e65ada4579c0a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "falhas",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2840,
        "y": 1440,
        "wires": [
            [
                "d5d46e9249ad590b"
            ]
        ]
    },
    {
        "id": "41070be827097629",
        "type": "ui_button",
        "z": "6d8562441c1228a9",
        "g": "f83b67f2dab732df",
        "name": "",
        "group": "44e28d128e884a8d",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "produto descartado",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 3230,
        "y": 2280,
        "wires": [
            [
                "8aed738e80be5dfe"
            ]
        ]
    },
    {
        "id": "8aed738e80be5dfe",
        "type": "play audio",
        "z": "6d8562441c1228a9",
        "g": "f83b67f2dab732df",
        "name": "PRODUTO DESCARTADO",
        "voice": "0",
        "x": 3460,
        "y": 2280,
        "wires": []
    },
    {
        "id": "f01f17695a89de8a",
        "type": "ui_button",
        "z": "6d8562441c1228a9",
        "g": "f83b67f2dab732df",
        "name": "",
        "group": "44e28d128e884a8d",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "produto distribuído",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 3230,
        "y": 2340,
        "wires": [
            [
                "b5a2f01029091ec6"
            ]
        ]
    },
    {
        "id": "b5a2f01029091ec6",
        "type": "play audio",
        "z": "6d8562441c1228a9",
        "g": "f83b67f2dab732df",
        "name": "PRODUTO DISTRIBUÍDO",
        "voice": "0",
        "x": 3460,
        "y": 2340,
        "wires": []
    },
    {
        "id": "cfe85c25e09c9502",
        "type": "ui_button",
        "z": "6d8562441c1228a9",
        "name": "INICIAR TRANSPORTE DE PRODUTOS",
        "group": "c3f0d3412006914e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "INICIAR TRANSPORTE DE PRODUTOS",
        "tooltip": "",
        "color": "white",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1220,
        "y": 680,
        "wires": [
            [
                "cb1bdcb96fec2873",
                "b687560fe519c79a",
                "644b1f1b5b74d623",
                "cfbad2e371f8f106",
                "d670a1279abd732b",
                "246ccae0a54c7747",
                "7c115bef8db192ca",
                "ea10937d8169e345",
                "bc85ca2a8e74e848",
                "1718251c78c634e1",
                "be07d7fc78404646",
                "633a73dab83b569d"
            ]
        ]
    },
    {
        "id": "633a73dab83b569d",
        "type": "function",
        "z": "6d8562441c1228a9",
        "g": "1a454d2bdfbff83d",
        "name": "GERA ID DE PRODUTOS TRANSPORTADOS",
        "func": "const timestamp = new Date().getTime(); // Obtém o timestamp atual\nconst randomNum = Math.floor(Math.random() * 10000); // Gera um número aleatório entre 0 e 9999\n\nmsg.payload = {\n    \"type\": \"message\",\n    \"chatId\": \"1320979139\",\n    \"content\": `${timestamp}-${randomNum}`\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 1760,
        "wires": [
            [
                "2cfc2a38f127f49f"
            ]
        ]
    },
    {
        "id": "43c6ba469334d007",
        "type": "ui_button",
        "z": "6d8562441c1228a9",
        "g": "1a454d2bdfbff83d",
        "name": "CONSULTAR TODOS OS PRODUTOS ",
        "group": "c3f0d3412006914e",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "CONSULTAR TODOS OS PRODUTOS TRANSPORTADOS",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1440,
        "y": 2040,
        "wires": [
            []
        ]
    }
]